/* 
  @ Z-Index
    > z-axis
    > default ( 0 )
    > doesn't work on position: static
*/

img {
  width: 150px;
  height: 150px;
  position: absolute;
}

.banner {
  margin: 20px;
  width: 80vw;
  height: 70vh;
  border: 5px solid orangered;
  position: relative;
}

.one {
  top: 0;
  left: 0;
  z-index: 0;
}
.two {
  top: 5%;
  left: 5%;
  z-index: -2;
}
.three {
  top: 10%;
  left: 10%;
  z-index: -1;
}
