/* 
  @ Colors Properties
    > color
    > background-color
    > background
  @ values
    > rgb
      ? (red, green, blue), 
    > rgba
      ? (red, green, blue, alpha  (transparancy/opacity/0-1))
    > hex 
      ? #RRGGBB
      ? 123456789 A(10) B(11) C(12) D(13) E(14) F(15)
                  -  10    11    12    13    14    15
      $ #FF00000 - RED, #00FF00 - GREEN, #0000FF - BLUE
    > hsl
  @ color code 
  > editor options 
    ? vs code
  > external resources(google)
    ? coolors.co
*/

h1 {
  /* hex */
  color: #2dfe32;
}
h2 {
  /* rgb */
  color: rgb(2, 59, 28);
  /* rgba */
  background: rgba(129, 23, 23, 0.3);
}
h3 {
  /* hsl */
  background-color: hsl(60, 56%, 91%);
  /* color code options */
  color: orangered;
}
