/* 
  @ Typography
    > Properties
    > Font-stack, generic family
    > google fonts
  
  $ font-size - size of the fonts
  $ font-family - describes the font of the element

  @ font-stack generic-family
    > serif, sans-serif, cursive, fantasy, monospace
    > if browser doesn't support the user font, we can use fallback system. If nothing matches, browser loads the default from font-stack

  @ google fonts

*/

body {
  font-family: Helvetica;
}

h1 {
  font-family: Verdana;
  font-size: 50px;
}

p {
  font-family: "Lucida Sans";
}

/* font-weight and font-style */

p {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-style: oblique;
  font-weight: lighter;
}

/* text-align and text-indent */

h1 {
  text-align: right;
}
p {
  text-indent: 100px;
  text-align: center;
}

/* line-height - if (number * by font-size) */

p {
  line-height: 2;
}

/* letter-spacing and word-spacing */

h1 {
  letter-spacing: 0.5rem;
  word-spacing: 3rem;
}
p {
  letter-spacing: 0.5rem;
  font-size: 2rem;
}

/* text-transform and text-decoration */

p {
  text-transform: capitalize;

  text-decoration: underline;
}

h1 {
  text-decoration: overline;
  text-transform: uppercase;
}
